.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  z-index: 100;
}

.header.scrolled {
  opacity: 0.5; /* Reduce visibility when scrolled */
}


.header.scrolled:hover {
  opacity: 1; /* Brighter on hover */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s, transform 0.3s;
}

.nav a:hover {
  color: #ff7e5f;
  transform: scale(1.1);
}

.nav a.selected {
  color: #ff7e5f; 
  font-weight: bold; 
}

/* .search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #333;
  transition: transform 0.3s, color 0.3s;
}

.search-icon:hover {
  color: #ff7e5f;
  transform: scale(1.1);
} */

.explore-button {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.explore-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ai_btn:hover
  {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

