.home {
  background: linear-gradient(to right, #ffe4e1, #e4dfff);
  padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

  }
  
  .content {
    flex: 1;
    max-width: 50%;
    color: #333;  }
  
  .content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 22px;
    line-height: 1.6;
    color: #555;
  }
  
  
  
   .image-1 {
    animation: float1 3s ease-in-out infinite;
  }
  
   .image-2 {
    animation: float2 3s ease-in-out infinite;
  }
  
  @keyframes float1 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes float2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  