.home {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 300px;
    background: linear-gradient(to bottom, #f8f9fa, #e9ecef);

  }
  
  .content {
    max-width: 50%;
  }
  
  .content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 22px;
    line-height: 1.6;
    color: #555;
  }
  
  .images {
    position: relative;
    max-width: 50%;
  }
  
  .images .image-1 {
    top: 0;
    left: 0;
    z-index: 1;
    width: 550px;
    border-radius: 10px;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .images .image-2 {
    position: absolute;
    top: 300px;
    left: 250px;
    z-index: 2;
    width: 500px;
    border-radius: 10px;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .images img:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }