
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.conter {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.header_flx,.home_flx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home_l {
  width: 40%;
}
.home_l h1 {
  font-size: 44px;
}
.home_l p{
  font-size: 18px;
  line-height: 1.3rem;
}
.home {
  height: 70vh;
}
.home_r {
  position: absolute;
  right: 0;
  width: 45%;
}
.home_r_inr {
  position: relative;
}
img.image-1 {
  width: 100%;
  height: 400px;
}
.image-2 {
  position: absolute;
  left: -130px;
  bottom: -90px;
}
.ai_btn {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  border-radius: 0 0 20px 20px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  width: fit-content;
  margin: 0 auto;
}
.animation_sec .container {
  width: fit-content;
  margin: 0 auto;
}
.animation_sec{
  padding:150px 0 100px;
}
.our_sec .usps-container {
  background: transparent;
}
.our_sec,.our_partner{
  padding: 100px 0;
}
.our_partner{
  height: 400px;
}
.partners-images {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.partner-section .container {
  width: 100%;
  box-sizing: border-box;
}
